<div class="section-markup">
  <div class="container">
    <div class="row">
      <div class="wrapper">
        <div class="box">
          <img class="leftmarkup" src="images/furniturebed5.jpg" />
          <div class="text_box">
            <div class="insidebox_text">
              <h3>GUEST ROOM</h3>
              <h1>SOFA</h1>
              <p>-20%</p>
            </div>
          </div>
        </div>
        <div class="box2">
          <div class="up">
            <div class="rightup_text">
              <h1>OFFICE CHAIR</h1>
              <h3>COLLECTION</h3>
              <p class="price">$200.00</p>
            </div>
            <img class="imgmarkup" src="images/furniturebed18.jpg" />
          </div>
          <div class="down">
            <div class="rightdown_text">
              <h3>SPECIAL COLLECTION</h3>
              <h5>SAVE UP 45% OF FURNITURE</h5>
            </div>
            <img class="imgmarkup" src="images/furniturebed19.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
