<div class="section-markup">
  <div class="container">
    <div class="row">
      <div class="wrapper">
        <div class="box">
          <!-- <img src="https://images.pexels.com/photos/276583/pexels-photo-276583.jpeg?cs=srgb&dl=apartment-architecture-carpet-276583.jpg&fm=jpg" /> -->
          <div class="text_box">
            <div class="insidebox_text">
              <h3>GUEST ROOM</h3>
              <h1>SOFA</h1>
              <p>-20%</p>
            </div>
          </div>
        </div>
        <div class="box2">
          <div class="up">
            <!-- <img src="https://via.placeholder.com/550x195/09f.png/fff" /> -->
            <div class="rightup_text">
              <h1>OFFICE CHAIR</h1>
              <h3>COLLECTION</h3>
              <p class="price">$200.00</p>
            </div>
          </div>
          <div class="down">
            <!-- <img src="https://via.placeholder.com/550x195/09f.png/fff" /> -->
            <div class="rightdown_text">
              <h3>SPECIAL COLLECTION</h3>
              <h5>SAVE UP 45% OF FURNITURE</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
