<div class="section--products">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading">
          <h3>New furniture</h3>
        </div>
        <div class="col menu">
          <ul>
            <li><a href="#tab-1" class="active">Bed</a></li>
            <li><a href="#tab-2">Chair</a></li>
            <li><a href="#tab-3">Sofa</a></li>
            <li><a href="#tab-4">Table</a></li>
            <li><a href="#tab-5">Dining</a></li>
          </ul>
        </div>
        <div class="col-auto dots show" id="tab-1">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="col-auto dots" id="tab-2">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="col-auto dots" id="tab-3">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="col-auto dots" id="tab-4">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="col-auto dots" id="tab-5">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Bed -->
    <div class="row">
      <div class="tab-content active" id="tab-1">
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars" id="tst" data-rating="3">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 15.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline active"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover new-price">$ 25.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline active"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 20.00</div>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover new-price">$ 15.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 15.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 15.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 35.00</div>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover new-price">$ 25.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 20.00</div>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover new-price">$ 15.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Chair -->
      <div class="tab-content" id="tab-2">
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars" id="tst" data-rating="3">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 15.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sofa -->
      <div class="tab-content" id="tab-3">
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline active"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover new-price">$ 25.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline active"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 20.00</div>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover new-price">$ 15.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table -->
      <div class="tab-content" id="tab-4">
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 15.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 15.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Dinining -->
      <div class="tab-content" id="tab-5">
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 35.00</div>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover new-price">$ 25.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"><i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 20.00</div>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover new-price">$ 15.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
