<div class="section--feedback">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading">
          <h3>Client feedback</h3>
        </div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul>
            <li><a class="active"></a></li>
            <li><a></a></li>
            <li><a></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-8">
        <i class="fas fa-quote-right"></i>
        <div class="post">
          <p>
            Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi.
            Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum
            magna in, ornare enim.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 img-author"><img src="https://via.placeholder.com/100" alt="" /></div>
      <div class="col-3">
        <h5>John Smith</h5>
        <p>Furniture Client</p>
      </div>
    </div>
  </div>
</div>
