.btn-main {
  background-color: $button-hover;
  color: $not-active-button;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;
  border: none;
  cursor: pointer;

  &:not(.no-hover):hover {
    color: $not-active-button !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.btn-main-small{
  @extend .btn-main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
  font-weight: bold;
  &:not(.no-hover) {
    display: none;
  }
}

.btn-outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-hover;
  color: $button-hover;
  font-size: 13px;
  line-height: 22px;

  &.active {
    color: $primary;
    border-color: $primary;

    &:hover {
      background-color: $primary;
      color: $not-active-button;
    }
  }

  &:hover {
    background-color: $button-hover;
    color: $not-active-button;
  }
}
