.post-box {
  margin-bottom: 2rem;

  &:hover {
    text-decoration: none;

    h5 {
      color: $primary;
    }

    .btn-main {
      background-color: $primary;
    }
  }

  .cover {
    padding: 70% 25px 0 25px;
    display: block;
    background: {
      color: #f4f5f7;
      size: cover;
      position: center;
    }

    .details {
      padding: 15px 20px;
      display: flex;
      background-color: #ffffff;
      color: #000000;
      font-size: 14px;
      display: block;

      & > * {
        flex: 1 1 auto;
      }

      .date {
        text-align: left;
        display: block;
      }

      .comments {
        text-align: right;
        display: block;
      }
    }
  }

  .post-info {
    padding: 25px;
    display: block;
    color: #000000;

    h5 {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      color: rgb(103, 103, 103);
      text-align: justify;
    }

    .more {
      text-align: center;
      padding-top: 30px;
      display: block;
    }
  }
}
