.section-markup {
  padding: 5rem 0;
}

.wrapper {
  display: flexbox;
  -ms-flex-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.box {
  -webkit-box-flex: auto;
  flex: auto;
  width: 500px;
  height: 400px;
  background-color: #6a6a6a;
  margin-right: 50px;
  position: relative;
  .text_box {
    width: 440px;
    height: 340px;
    position: absolute;
    left: 25px;
    top: 25px;
    background-color: #2a2a2a;
    color: white;
    opacity: 0.7;
    .insidebox_text {
      position: absolute;
      top: 130px;
      font-weight: bold;
      margin: 0 0 0 20px;
      p {
        border: 3px solid white;
        font-size: 50px;
        padding: 5px;
      }
    }
  }
}

.box2 {
  width: 550px;
  height: 400px;
  .up {
    width: 550px;
    height: 180px;
    position: relative;
    background-color: #e7edf7;
    margin-bottom: 40px;
    .rightup_text {
      text-align-last: left;
      position: absolute;
      left: 150px;
      margin: 15px 0 0 0;
      p {
        font-weight: bold;
        font-size: 40px;
        color: #d58e32;
      }
    }
  }
}
.box2 {
  .down {
    width: 550px;
    height: 180px;
    background-color: #fbf3f7;
    position: relative;
    .rightdown_text {
      position: absolute;
      right: 20px;
      top: 50px;
      h3 {
        color: #d58e32;
      }
    }
  }
}

@media (max-width: 767px) {
  .wrapper {
    margin: 15px;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    justify-content: center;
  }

  .box {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
