.section--feedback {
  padding: 1rem 0;

  .row {
    justify-content: center;
  }

  .panel-bar {
    margin-bottom: 0;
  }

  .col.col-8 {
    margin: 20px auto;
    text-align: center;

    i {
      padding-bottom: 20px;
      font-size: 20px;
    }
  }

  .col-3 {
    padding-left: 0;
    display: inline-block;

    h5 {
      text-align: left;
    }
    &.img-author{
      display: flex;
      justify-content: flex-end;
    }
    
  }
}
